[client]
database = 'kakao'
host = 'localhost'
user = 'root'
password = '1111'
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4

[mysqld]
character-set-client-handshake = FALSE
default-character-set=utf8mb4
character-set-server=utf8mb4
collation-server = utf8mb4_unicode_ci
